.font {
  text-align: center;
  position: fixed;
  bottom: 2px;
  width: 100vw;
  font-size: medium;
  font-family: Satisfy;
}
.heartIcon {
  padding-left: 0.3em;
  padding-right: 0.3em;
  height: 0.8em;
}
